In [8]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression

import warnings
# filter warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('energydata_complete.csv')

In [3]:
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [43]:
data.isnull().sum()

Appliances     0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

### Question 17
From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the Root Mean Squared error in three D.P?

In [5]:
simple_linear_reg = data[['T2', 'T6']]

X=simple_linear_reg.iloc[:, 0].values
y=simple_linear_reg.iloc[:, 1].values

In [24]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size= 0.2 , random_state= 1)

In [26]:
lr_model = LinearRegression()
x_train = x_train.reshape(-1,1)
x_test = x_test.reshape(-1,1)
#fit the model to the training dataset
lr_model.fit(x_train, y_train)
#obtain predictions
predicted_values = lr_model.predict(x_test)

In [27]:
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3 )

3.651

### Question 18

In [29]:
data.drop(columns=["date", "lights"], inplace=True)

In [30]:
data.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [32]:
X = data.drop(["Appliances"], axis = "columns")
y = data["Appliances"]

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 42)

In [34]:
scaler = MinMaxScaler()
normalised_train = pd.DataFrame(scaler.fit_transform(X_train), columns=X_train.columns)
normalised_test = pd.DataFrame(scaler.fit_transform(X_test), columns=X_test.columns)

In [45]:
lr_model.fit(normalised_train, y_train)
#obtain predictions
predicted_value = lr_model.predict(normalised_train)
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_train, predicted_value)
round(mae, 3 )

53.742

### Question 19

In [46]:
rmse = np.sqrt(mean_squared_error(y_train, predicted_value))
round(rmse, 3 )

95.216

### Question 20

In [47]:
#obtain predictions
predicted_value = lr_model.predict(normalised_test)
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_value)
round(mae, 3 )

49.089

### Question 21

In [48]:
rmse = np.sqrt(mean_squared_error(y_test, predicted_value))
round(rmse, 3 )

97.526

### Question 24

In [49]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha= 0.001 )
lasso_reg.fit(normalised_train, y_train)

Lasso(alpha=0.001)

In [53]:
def get_weights_df(model, feat, col_name) :
    #this function returns the weight of every feature
    weights = pd.Series(lr_model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = [ 'Features' , col_name]
    weights_df[col_name].round( 3 )
    return weights_df
    
linear_model_weights = get_weights_df(lr_model, normalised_train, 'Linear_Model_Weight' )
lasso_weights_df = get_weights_df(lasso_reg, normalised_train, 'Lasso_weight' )

In [54]:
final_weights = pd.merge(linear_model_weights, lasso_weights_df, on= 'Features' )

In [55]:
final_weights

       Features  Linear_Model_Weight  Lasso_weight
0           rv2        -2.072138e+14 -2.072138e+14
1          RH_2        -4.698065e+02 -4.698065e+02
2         T_out        -3.442386e+02 -3.442386e+02
3            T2        -2.530838e+02 -2.530838e+02
4            T9        -2.032377e+02 -2.032377e+02
5          RH_8        -1.688087e+02 -1.688087e+02
6        RH_out        -8.297492e+01 -8.297492e+01
7          RH_7        -4.744807e+01 -4.744807e+01
8          RH_9        -4.261162e+01 -4.261162e+01
9            T5        -1.670132e+01 -1.670132e+01
10           T1        -3.510725e+00 -3.510725e+00
11  Press_mm_hg         7.433177e+00  7.433177e+00
12           T7         1.095902e+01  1.095902e+01
13   Visibility         1.315776e+01  1.315776e+01
14         RH_5         1.710491e+01  1.710491e+01
15         RH_4         2.734235e+01  2.734235e+01
16           T4         3.117496e+01  3.117496e+01
17    Windspeed         3.136265e+01  3.136265e+01
18         RH_6         4.077985e+01  4.077985e+01
19         RH_3         1.028162e+02  1.028162e+02
20           T8         1.091770e+02  1.091770e+02
21    Tdewpoint         1.254364e+02  1.254364e+02
22           T6         2.527538e+02  2.527538e+02
23           T3         3.110849e+02  3.110849e+02
24         RH_1         4.955488e+02  4.955488e+02
25          rv1         2.072138e+14  2.072138e+14

### Question 25

In [58]:
#obtain predictions
predicted_value = lasso_reg.predict(normalised_test)
#RMSE
rmse = np.sqrt(mean_squared_error(y_test, predicted_value))
round(rmse, 3 )

97.523